* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding-top: 20px;
  background-image: url("img/bg1.jpg");
  background-size: cover;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1000px inset;
}

.main{
max-width: 1240px;
margin: 0 auto;
}
/* logo  */
h1 {
  text-align: center;
  padding-bottom: 70px;
}
.logo {
  text-align: center;
  padding-bottom: 50px;
}
/*start main wrapper  */
.main-wrapper {
  max-width: 700px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 5px;
}
form h2 {
  padding-bottom: 15px;
}
button {
  padding: 5px 15px;
  cursor: pointer;
}
form label {
  text-transform: uppercase;
  margin-bottom: 20px;
}
form input {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 10px 0 15px 0;
  border: none;
  outline: none;
  border-radius: 10px;
}
form button {
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
}
form button:hover {
  background-color: #222;
  color: #fff;
}
/* end main wrapper */
/*  start popup modal for registration */
.no-acc {
  text-align: center;
  padding: 20px;
}
.no-acc p {
  font-size: 22px;
  padding-bottom: 10px;
}
.no-acc button {
  font-size: 1.2rem;
}
.custom-modal {
  display: none;
  background-color: #393434;
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 1000px 1000px;
  max-width: 700px;
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
}
.custom-modal button#close-modal {
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 8px;
  right: 20px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
}
.custom-modal button#close-modal:hover {
  color: rgb(221, 94, 62);
}
form ul {
  list-style: none;
  padding: 0 0 10px 0;
}
form li {
  color: red;
}
/* end popup modal for registration */

/* style for hexa page from this point */

/* styling left and right side in contaners  */

.inner-container {
  padding: 15px;
}
.left-side {
  text-align: center;
}
/* start left side , profile picture and buttons for edit and logout form account */
.left-side img.profile-picture {
  width: 70%;
  border-radius: 50%;
  border: 3px solid white;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.left-side button {
  padding: 3px 5px;
  background-color: #aca0a0;
  color: white;
  border-radius: 8px;
  width: 70px;
}
.left-side button:hover {
  background-color: #fff;
  color: #aca0a0;
}
/* end of left side */
/* start right side with textarea, buttons, post and comment section, like,remove and comment buttons*/
.right-side form {
  display: flex;
  height: 100px;

}
.right-side #postForm{
  margin-bottom: 53px;

}

.right-side form div textarea {
  width: 100%;
  height: 102px;
  border-radius: 8px;
  padding: 1px 15px 5px 15px;
  resize: none;
  outline-color: green;
  border: 0;
}
.textarea-wrapper{
  position: relative;
  width: 100%;
}
.right-side form .btn-post {
  color: #f5e4e4;
  border-radius: 8px;
  background: #457feb;
  position: absolute;
  right: 0px;
  bottom: -34px;
  width: 20%;
  padding: 3px;
  font-size: 1rem;
  border: 0;
}
#delete-profile:hover {
  background-color: #803b3b;
}

.allPostsWrapper .single-post {
  border-radius: 8px;
  background-color: #ffeaea;
  padding: 5px;
  margin-top: 5px;
}
.author{
  font-style: italic;
  color: #2f2424;
}
.comment{
  color: #2f2424;
}
.allPostsWrapper .single-post .post-content {
  font-size: 1.3rem;
  color:#290808 ;
  padding-bottom: 5px;
  border-bottom: 1px dotted #c4abab;
  margin-bottom: 5px;
}
.allPostsWrapper .single-post .post-comments {
  display: none;
}
.allPostsWrapper .post-comments form {
  display: flex;
  align-items: center;
  height: 60px;
}
.allPostsWrapper .post-comments form input {
  width: 75%;
  border-radius: 0;
  border-radius: 4px 0 0 4px;
}
.single-post .post-comments form button {
  background: #c1b2b2;
  border-radius: 0  4px 4px 0;
  font-size: 16px;
  height: 44px;
  margin-bottom: 5px;
  width: 25%;
}
.single-post .post-comments .single-comment {
  border: 1px solid #284f28;
  padding: 5px;
  margin-bottom: 5px;
}
.allPostsWrapper .single-post .post-actions {
  color: #e4ecf0;
}
.allPostsWrapper .single-post .post-actions div {
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 10px;
}
.allPostsWrapper .single-post .post-actions div button.like-btn {
  background-image: url("img/like.png");
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  background-position: 5px;

  padding: 7px 15px 3px 35px;
}

.allPostsWrapper .single-post .post-actions div button.comment-btn {
  background-image: url("img/comment.png");
  background-repeat: no-repeat;
  background-position: cover;
  border: 0;
  background-color: transparent;
  background-position: 5px;
  padding: 5px 15px 5px 30px;
}
.allPostsWrapper .single-post .post-actions div button.remove-btn {
  background-color: transparent;
  color: rgb(190, 27, 27);
  border: none;
}
.allPostsWrapper .single-post .post-actions div button.remove-btn:hover {
  color: rgb(113, 27, 27);
}
#photo-label{
  display: block;
  text-align: center;
  width: 200px;
  background: #e3362c;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;
}
#input-file{
  display: none;
}

@media(max-width: 630px){

  .col-md-3{
    height: 200px;
  }
  .inner-container.left-side{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 15px; */
  }
  .left-side img.profile-picture{
width: 70px;
align-content: center;
margin: 0;
    /* height: 70px;
    object-fit: contain;
    border: none; */
  }
  .btn-edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  .custom-modal{
padding: 10px;
  }
  .main-wrapper{
    padding: 10px;
  }
}

@media(max-width: 470px){
  /* .left-side img.profile-picture{
    width: 50px;
  } */
  /* .username-email{
    font-size: 10px;
  } */
  /* .btn-edit{
    font-size: 12px;
  } */
  .btn-edit > *{
    border-radius: 10px;
  }
  body{
    width: 100%;
    padding: 0;
  }
  .inner-container.right-side{
    padding: 5px 10px;
  }
   /* #postForm{
    height: 50px;
  } */
  #postForm textarea{
    padding: 5px;
  }
  /* .single-post{
      height: 100px;
  } */
.single-post p{
  margin: 3px;
  font-size: 13px;
}
.allPostsWrapper .single-post .post-content{
  font-size: 16px;
} 
.post-actions div > *{
  font-size: 14px;
  background-size: 20px;
}
.allPostsWrapper .post-comments form button{
font-size: 12px;
margin: 0;padding: 0;
}
.single-post .post-comments form button{
  height: 30px;
}
.allPostsWrapper .post-comments form >* {
height: 30px;
margin: 0;padding: 0;
}
.single-post .post-comments .single-comment >*{
  font-size: 12px;
}
}